.navbarMain {
  flex: 1;
}

.link {
  text-decoration: none;
  color: light-dark(var(--mantine-color-gray-7), var(--mantine-color-dark-1));
  border-radius: var(--mantine-radius-sm);
  font-weight: 500;
}
