name: Build and Test Frontend

on:
    pull_request:
        branches:
            - main

jobs:
    build:
        runs-on: ubuntu-latest
        steps:
            - name: Get latest code
              uses: actions/checkout@v4

            - name: Set up Node
              uses: actions/setup-node@v4

            - name: Install dependencies
              run: npm ci
            
            - name: Build project
              run: npm run build

            # - name: Test project
            #   run: npm run test

