name: Deploy Frontend Build

on:
    workflow_dispatch: 
    push:
        branches:
            - main
            - bs-code/ci-cd

jobs:
    build:
        runs-on: ubuntu-latest
        steps:
            - name: Get latest code
              uses: actions/checkout@v4

            - name: Set up Node
              uses: actions/setup-node@v4
            
            - name: Install dependencies
              run: npm ci

            - name: Build project
              run: npm run build
            
            - name: Upload artifacts
              uses: actions/upload-artifact@v4
              with:
                name: dist-artifacts
                path: ./dist/
        
    deploy:
        runs-on: ubuntu-latest
        needs: build
        steps:
            - name: Clear remote directory
              uses: appleboy/ssh-action@v1.2.0
              with:
                host: ${{ secrets.DCISM_HOST }}
                username: ${{ secrets.DCISM_EMAIL }}
                password: ${{ secrets.DCISM_PASSWORD }}
                port: ${{ secrets.SSH_PORT }}
                script: |
                    cd /data/users/${{ secrets.DCISM_EMAIL }}
                    rm -rf ${{ secrets.DCISM_DOMAIN }}/{*,.*}

            - name: Download artifacts
              uses: actions/download-artifact@v4
              with:
                name: dist-artifacts
            
            - name: SFTP Deploy to server
              uses: wlixcc/SFTP-Deploy-Action@v1.2.5
              with:
                  username: ${{ secrets.DCISM_EMAIL }}
                  server: ${{ secrets.DCISM_HOST }}
                  password: ${{ secrets.DCISM_PASSWORD }}
                  port: ${{ secrets.SSH_PORT}}
                  sftp_only: true
                  remote_path: /data/users/${{ secrets.DCISM_EMAIL }}/${{ secrets.DCISM_DOMAIN }}

              