name: Deploy Frontend to dcism.org via Github

on:
    push:
        branches:
            - master
            - bs-code/ci-cd

jobs:
    deploy:
        runs-on: ubuntu-latest
        steps:
            - name: Clone repo
              uses: appleboy/ssh-action@v1.2.0
              with:
                host: web.dcism.org
                username: s20101466
                password: ${{ secrets.SSH_PSSWD_20101466 }}
                port: ${{ secrets.SSH_PORT }}
                script: |
                  cd /data/users/s20101466
                  rm -rf test.dcism.org
                  git clone https://github.com/usc-cisco/hermes-site.git test.dcism.org
                  cd test.dcism.org
                  npm install
                  npm run build
