name: Deploy Frontend to dcism.org

on:
    push:
        branches:
            - master
            - bs-code/ci-cd

jobs:
    build:
        runs-on: ubuntu-latest
        steps:
            - name: Get latest code
              uses: actions/checkout@v4

            - name: Set up Node
              uses: actions/setup-node@v4
            
            - name: Install dependencies
              run: npm ci

            - name: Build project
              run: npm run build
            
            - name: Upload artifacts
              uses: actions/upload-artifact@v4
              with:
                name: dist-artifacts
                path: ./dist/
        
    deploy:
        runs-on: ubuntu-latest
        needs: build
        steps:
            - name: Download artifacts
              uses: actions/download-artifact@v4
              with:
                name: dist-artifacts
            
            - name: SFTP Deploy to server
              uses: wlixcc/SFTP-Deploy-Action@v1.2.5
              with:
                  username: s20101466
                  server: web.dcism.org
                  password: ${{ secrets.FTP_PASSWORD_20101466 }}
                  port: 22077
                  remote_path: /data/users/s20101466/cisco/hermes
