name: Deploy Frontend Build

on:
  workflow_dispatch:
  push:
    branches:
      - main

jobs:
  deploy:
    name: Deploy
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Repository
        uses: actions/checkout@v4

      - name: Install Dependencies & Build
        run: |
          npm ci
          npm run build

      - name: Upload dist folder via SCP
        uses: appleboy/scp-action@v0.1.7
        with:
          host: ${{ secrets.DCISM_HOST }}
          username: ${{ secrets.DCISM_EMAIL }}
          password: ${{ secrets.DCISM_PASSWORD }}
          port: ${{ secrets.SSH_PORT }}
          source: "dist/*"
          target: "~/${{ secrets.DCISM_DOMAIN }}/"
          overwrite: true
