name: Deploy Frontend Build

on:
  workflow_dispatch:
  push:
    branches:
      - main
      - ci/change-to-scp

jobs:
  deploy:
    name: Deploy
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Repository
        uses: actions/checkout@v4

      - name: Install Dependencies & Build
        run: |
          npm install
          npm run build

      - name: Upload dist folder via SCP
        uses: appleboy/scp-action@v0.1.7
        with:
          host: ${{ secrets.DCISM_HOST }}
          username: ${{ secrets.DCISM_EMAIL }}
          password: ${{ secrets.DCISM_PASSWORD }}
          port: ${{ secrets.SSH_PORT }}
          source: "./dist/*"
          target: "~/${{ secrets.DCISM_DOMAIN }}/"
          overwrite: true
          strip_components: 1

          - name: Add .htaccess to root domain
        uses: appleboy/ssh-action@v1.2.0
        with:
          host: ${{ secrets.DCISM_HOST }}
          username: ${{ secrets.DCISM_EMAIL }}
          password: ${{ secrets.DCISM_PASSWORD }}
          port: ${{ secrets.SSH_PORT }}
          script: |
            cd ${{ secrets.DCISM_DOMAIN }}
            ls 
            cat .env

      # - name: Add .htaccess to root domain
      #   uses: appleboy/ssh-action@v1.2.0
      #   with:
      #     host: ${{ secrets.DCISM_HOST }}
      #     username: ${{ secrets.DCISM_EMAIL }}
      #     password: ${{ secrets.DCISM_PASSWORD }}
      #     port: ${{ secrets.SSH_PORT }}
      #     script: |
      #       cd ${{ secrets.DCISM_DOMAIN }}
      #       cat <<EOF > .htaccess
      #       # Make the root domain request index.html to load the site
      #       DirectoryIndex index.html
      #       RewriteEngine on

      #       # Upgrade all HTTP connections to HTTPS while maintaining URL query params & path
      #       RewriteCond %{SERVER_PORT} 80
      #       RewriteRule ^.*$ https://%{HTTP_HOST}%{REQUEST_URI} [R=301,L]
      #       EOF
